{% extends 'app/base.html' %}
{% load qr_code %}

{% block script %}
  <script>
      let ndef;

      async function write_tag(slug) {
          let ndef = new NDEFReader();
          ndef
              .write({
                  records: [{
                      recordType: "url",
                      data: "https://roomies.canora.us/r/" + slug
                  }]
              })
              .then(() => {
                  alert("Success")
              })
              .catch((err) => {
                  alert("Fail")
                  alert(err.stack)
              });
      }

      async function write_auth_tag() {
          let ndef = new NDEFReader();
          ndef
              .write({
                  records: [{
                      recordType: "url",
                      data: "{{ auth_url }}"
                  }]
              })
              .then(() => {
                  alert("Success")
              })
              .catch((err) => {
                  alert("Fail")
                  alert(err.stack)
              });
      }
  </script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="text-center mb-4">
        <button class="btn btn-primary text-white" popovertarget="qr-auth">Auth QR</button>
        <button class="btn btn-primary text-white" onclick="write_auth_tag()">Write Auth NDEF</button>
      </div>
      <table class="table table-striped table-hover">
        {% for room in rooms %}
          <tr>
            <td>{{ room.name }}</td>
            <td><a href="{{ room.url }}">{{ room.url }}</a></td>
            <td>
              <button class="btn btn-primary text-white" onclick="write_tag('{{ room.key }}')">Write Tag</button>
            </td>
            <td>
              <button class="btn btn-primary text-white" popovertarget="qr-{{ room.key }}">Show QR</button>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div id="qr-auth" popover>
    {% qr_from_text auth_url image_format='png' %}
    <p class="text-center"><a href="{{ auth_url }}">{{ auth_url }}</a></p>
  </div>

  {% for room in rooms %}
    <div id="qr-{{ room.key }}" popover>
      {% qr_from_text room.url image_format='png' %}
    </div>
  {% endfor %}
{% endblock %}