{% extends 'app/base.html' %}
{% load qr_code %}

{% block script %}
  <script>
      let ndef;

      $(document).ready(function () {
          ndef = new NDEFReader();
      })

      async function write(slug) {  //TODO: Check async stuff
          try {
              await ndef.write({
                  records: [{
                      recordType: "url",
                      data: "https://roomies.canora.us/r/" + slug
                  }]
              });

              alert("Success")
          } catch {
              alert("Write Failed")
          }
      }
  </script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="text-center mb-4">
        <button class="btn btn-primary text-white" popovertarget="qr-auth">Auth QR</button>
      </div>
      <table class="table table-striped table-hover">
        {% for room in rooms %}
          <tr>
            <td>{{ room.name }}</td>
            <td><button class="btn btn-primary text-white" onclick="write({{ room.id }})">Write Tag</button></td>
            <td>
              <button class="btn btn-primary text-white" popovertarget="qr-{{ room.key }}">Show QR</button>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div id="qr-auth" popover>{% qr_from_text auth_url image_format='png' %}</div>

  {% for room in rooms %}
    <div id="qr-{{ room.key }}" popover>
      {% qr_from_text room.url image_format='png' %}
    </div>
  {% endfor %}
{% endblock %}