{% extends 'app/base.html' %}

{% block script %}
  <style>
      td, h1 {
          text-align: center;
      }

      .room-anchor {
          display: block;
          position: relative;
          top: -75px;
          visibility: hidden;
      }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    {% for room in rooms %}
      <div class="col-sm-12 col-lg-6">
        <div class="card mb-4">
          <div class="card-body">
            <a class="room-anchor" id="{{ room.key }}"></a>
            <h1>{{ room.name }}</h1>

            <table class="table table-striped">
              {% for person in room.person_set.all %}
                <tr>
                  <td><h5>{{ person.name }}</h5></td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}