{% extends 'app/base.html' %}
{% load static %}

{% block script %}<title>Quick Sigma.js Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/2.4.0/sigma.min.js"></script>
    <script src="{% static 'app/graphology.min.js' %}"></script>
    <script src="{% static 'app/graphology-library.min.js' %}"></script>
{% endblock %}

{% block content-full %}
  <div id="graph" style="width: 100vw; height: 100vh;">

  </div>
{% endblock %}

{% block delayedscript %}
  {{ data | json_script:"graphdata" }}

  <script>
      var graphdata = JSON.parse(document.getElementById('graphdata').textContent);

      const graph = new graphology.Graph();
      graph.import(graphdata);
      graphologyLibrary.layoutForceAtlas2.assign(graph, {iterations: 100});

      const sigmaInstance = new Sigma(graph, document.getElementById("graph"), {
          labelRenderedSizeThreshold: 3,
          defaultEdgeType: 'arrow',
      });
  </script>
{% endblock %}