{% extends 'app/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title">Step 1: Upload People</h2>
          <p>Use the following fields:</p>
          <ul>
            <li>Name</li>
            <li>ID</li>
            <li>Gender (should be one of <code>male</code>, <code>female</code>, or <code>nb</code>)</li>
          </ul>
          <form method="post" enctype="multipart/form-data" action="{% url 'csv' %}">
            {% csrf_token %}
            <p>Upload a CSV below:</p>
            <p><input type="file" name="names"></p>
            <p>
              <button type="submit" class="btn btn-success text-white">Submit</button>
            </p>
          </form>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title">Step 2: Collect Requests</h2>
          <p>Currently configured to collect <code>{{ settings.REQS_PER_STUDENT }}</code> requests per student. This can
            be changed in code.</p>
          {% comment %}<p><a href="{% url 'admin_create_request' %}" class="btn btn-success">Click here to add or edit manual requests</a></p>{% endcomment %}
          <p><a href="{% url 'admin:app_request_changelist' %}" class="btn btn-secondary">Click here to view and edit
            all student requests</a></p>

          {% if open_for_students %}
            <p><a href="{% url 'toggle_student_login' %}" class="btn btn-success text-white">Currently open for students. Click here to close.</a></p>
          {% else %}
            <p><a href="{% url 'toggle_student_login' %}" class="btn btn-danger">Currently closed for students. Click here to open.</a></p>
          {% endif %}
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title">Step 3: Generate Room List</h2>
          <p>Currently configured to select <code>{{ settings.ROOMS }}</code> rooms. This can be changed in code.</p>
          <a href="#" class="btn btn-success" onclick="alert('This needs to be done through the backend right now. Talk to Dominic!')">Generate</a>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title">Step 4: Fine-Tune Room Lists</h2>
          <p>Click below to view a generated room list.</p>
          <p><b>Newest lists are at the top</b></p>
          <ul>
            {% for soln in solutions %}
              <li><a href="{% url 'admin_edit_solution' soln.id %}">{{ soln.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}