{% extends 'app/base.html' %}
{% load static %}

{% block script %}
  <link rel="stylesheet" href="{% static 'app/bootstrap-select.css' %}">
  <script src="{% static 'app/bootstrap-select.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title">Student Login</h2>
            <div class="alert alert-warning">The site is currently closed for student roommate requests.</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}